.content-layout {
  padding: 3rem;
  margin: 0 auto;
  min-height: calc(100vh - 64px);
  background: linear-gradient(135deg, #E3DECD, #D6CCB0, #CABBA5);
}
.content-layout__frame{
  padding: 2rem;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 12px;
}
@media screen and (max-width: 768px){
 .content-layout {
    padding: 2rem;
 }
}
